################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.idea
/backend/.idea
/backend/.vs/backend
/.vs
/backend/backend/bin/Debug/net8.0
/backend/backend/obj

#secrets
backend/backend/appsettings.Development.json

# Rider/Resharper user settings
*.DotSettings.user

#Xunit but also generally
obj/
bin/

.vscode