@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    /*background-color: var(--color-button-hover);*/
  }
}

@media (min-width: 1024px) {
  body {
    place-items: center;
  }
  html, body, #app {
    width: 100vw; /* viewport width */
    height: 100vh; /* viewport height */
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* prevent horizontal scrollbar from vw */
  }
  #app {
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
